#entry {
    /* background-color: transparent; */
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}

#entry:selected {
    background-color: #5e81ac;
    /* border: none; */
}

 #text:selected {
     color: #d8dee9;
     font-weight: bold;
 }

  #window {
      padding: 9px;
      background-color: #353b49;
      /* border: 3px solid #3b4252; */
      border-top: none;
      border-left: none;
      border-radius: 8px;
      font-family: Product Sans;
  }

  #input {
      /* margin: 5px; */
      /* margin: 10 10 5 10; */
      border: 2px solid #5e81ac;
      background-color: #4c566a;
      padding: 6px 10px 6px 10px;
      border-radius: 5px;
  }

  #inner-box {
      color: #d8dee9;
      padding: 2px;
      /* margin-top: 20px; */
      background-color: transparent;
  }

  #outer-box {
      margin: 20px;
      background-color: transparent;
  }

  #scroll {
      margin-top: 20px;
      /* border-radius: 7px; */
      background-color: transparent;
      border: none;
  }

  #text {
      /* margin: 5 10 5 10; */
      padding: 10px;
      font-size: 14px;
      background-color: transparent;
  }

  #img {
        background-color: transparent;
        padding: 5px;
  }

